#Subfolders
data/
output/

#src files
src/watch_events_analysis/Summary_watch_events.html
src/watch_events_analysis/Summary_watch_events_files/
src/Session_analysis_alex/TikTok_Sessions_Analysis_Alex.html
src/Session_analysis_alex/TikTok_Sessions_Analysis_Alex_files/
src/Final_Analysis_Summary.html
src/Summary_videos_files/


